/* src/POPOSList.css */

/* Smaller screens and tablets */
@media only screen and (max-width: 700px) {
  .POPOSList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
  }
}
.POPOSList form {
  display: flex;
  align-items: flex-start;
}

.POPOSList form input, .POPOSList form button {
  padding: 0.5em;
  margin: 0;
  border: 1px solid;
  font-size: 1;
}

.POPOSList form input {
  flex: 1;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}